@import "../public/css/plugins.css";
@import "../public/css/dark.css";
@import "../public/css/style.css";

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";
@import "swiper/css/effect-fade";

html {
  scroll-behavior: smooth;
}
.c-pointer {
  cursor: pointer;
}
.d-block {
  display: block !important;
}
.acc_active .acc_content.d-block {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

.swiper-pagination-bullet {
  opacity: 1;
}

.owl-dots.swiper-pagination-bullets {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
}
.devman_tm_testimonials
  .owl-theme
  .owl-dots
  .swiper-pagination-bullet-active:before {
  content: "";
  border: 2px solid var(--main-color);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  width: 22px;
  display: block;
  height: 22px;
  margin-top: -5px;
  margin-left: -4.5px;
  transition: all 0.5s ease;
}
.devman_tm_contact .devman_tm_button a,
.devman_tm_contact .devman_tm_button input {
  text-transform: none;
  color: #fff;
  display: inline-block;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font-family-extra);
  transition: all 0.3s ease;
  height: unset;
  width: 100%;
}

/* Portfolio View Project Button */
.devman_tm_portfolio .view_project a {
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0;
  background: linear-gradient(to right, #142eb5, #fb503b);
  padding: 15px 35px;
  border-radius: 20px 0 0 0;
  color: #fff;
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: var(--font-family-extra);
  font-weight: 600;
  box-shadow: none;
  transition: all 0.3s ease;
  text-decoration: none;
  z-index: 10;
}

.devman_tm_portfolio .view_project a:hover {
  background: linear-gradient(to right, #fb503b, #142eb5);
}

.devman_tm_portfolio .view_project a i {
  color: #fff !important;
  top: 0 !important;
}
